{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
    </p>
    
    
    <p>
      <label for="id_password">Password:</label>
      <input type="password" name="password" autocomplete="password" required="" id="id_password">
    </p>
    
      <button type="submit">Sign Up</button>
    <button type="submit">Login</button>
  </form>
{% endblock %}
